<div class="jumbotron"><h1>Yummy Burgers!</h1></div>

<div class="container">
    <div class="row main">
      <div class="col-md-6 float-left">
        <div class="uneaten">
          <h2>Burgers Yet to be Devoured!</h2>
        </div>

        <ul>
          {{#each burgers}}
            {{#unless devoured}}
            <li>
              <div class="row">
                <div class="col-md-6">
                  <p class="b-name">{{ this.burger_name }}</p>
                </div>
                <div class="col-md-6">
                  <form class="form-group eat-button" action="burgers/update/{{this.id}}?_method=PUT" method="POST">
                      <input class="form-control" type="hidden" name="burger_name" value="true">
                      <button type="submit">EAT ME!!!</button>
                  </form>
                </div>
              </div>
              

            </li>
              
            {{/unless}}
          {{/each}}
        </ul>
    </div>
      <div class="col-md-6 float-left">
        <div class="eaten">
          <h2>Devoured Burgers!</h2>
        </div>
        <ul>
          {{#each burgers}}
            {{#if devoured}}
              <li>{{ this.burger_name }}</li>
            {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 main enter">
        <h2>Add a burger</h2>
        <form class="create-form" action="/burgers/add" method="POST">

          <div class="form-group">
            <label for="burger-name">Burger Name:</label>
            <input type="text" id="add-burger" name="burger_name">
          </div>
          <button type="submit">Add Burger</button>
        </form>
      </div>
    </div>
</div>


<br>

