/* .eat-button {
    float: left;
} */
.jumbotron {
    color: tan;
    background-color: brown;
    text-align: center;
    border-bottom: maroon ridge 3px;
}

.main {
    border: lightsalmon ridge 3px;
    margin-bottom: 25px;
}

.uneaten, .eaten {
    border-bottom: maroon ridge 3px;
    margin-bottom: 20px;
};

.b-name {
    color: green;
}

.enter {
    padding-bottom: 20px;
}